<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AsMn Dance Academy</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <nav id="navbar">
    <div id="logo">
      <img src="/static/logo-removebg-preview (2).png" alt="AsMn dance Academy" srcset="">
      <h3>AsMn</h3>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/">Class Info</a></li>
      <li><a href="/views/contact.html">Contact us</a></li>
    </ul>
  </nav>

  <section id="introSection">
    <p>Welcome to AsMn dance Academy</p>
    <h6>Eat Sleep Repeat Dance</h6>
  </section>

  <section id="missionSection">
    <h1>Our mission</h1>
    <div class="container">
      <div class="card">
        <h3>Dance Perfection</h3>
        <div class="card-img">
          <img src="/static/dance1-removebg-preview.png" alt="" srcset="">
        </div>
        <div class="content">
          <h3>This is the best dance academy of the universe</h3>
        </div>
      </div>

      <div class="card">
        <h3>Dance the way you like</h3>
        <div class="card-img">
          <img src="/static/dance2-removebg-preview.png" alt="" srcset="">
        </div>
        <div class="content">
          <h3>This is the best dance academy of the universe</h3>
        </div>
      </div>

      <div class="card">
        <h3>Expert Teaching</h3>
        <div class="card-img">
          <img src="/static/dance 3.png" alt="" srcset="">
        </div>
        <div class="content">
          <h3>This is the best dance academy of the universe</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsersection">
    <h2>Our Sponser</h2>
    <img src="/static/apple.png" alt="" srcset="">
    <img src="/static/hp.png" alt="" srcset="">
    <img src="/static/skype.png" alt="" srcset="">
    <img src="/static/microsoft.png" alt="" srcset="">
    <img src="/static/coca-removebg-preview.png" alt="" srcset="">
  </section>

  <footer id="footer">
    <p>| Copyright © 2023 AsMnAcademy.com | All Rights Reserved</p>
  </footer>
</body>

</html>
