<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact uss</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/newpage.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
          <img src="/static/logo-removebg-preview (2).png" alt="AsMn dance Academy" srcset="">
          <h3>AsMn</h3>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">Class Info</a></li>
          <li><a href="/views/contact.html">Contact us</a></li>
        </ul>
      </nav>
    <section id="thanks">
      <div id="content">
<h1>Thanks</h1>
  <p>Contact us & Visit my website please come again.. </p>
  
  
</div>
    </section>
    
    <footer id="footer">
        <p>| Copyright © 2023 AsMnAcademy.com | All Rights Reserved</p>
      </footer>
</body>
</html>